{% extends 'attendance_sys/main.html' %}

{% block content %}
<div class="container">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Take attendance</h3></center>
                    <a href="{% url 'attendance' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Add student</h3></center>
                    <a href="{% url 'addstudent' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card card-body">
                <center><h3>Update Student Details</h3></center>
                <form class="form-horizontal" action="{% url 'updateStudentRedirect' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Enter Student Registration ID:</label>
                        <input name="reg_id" type="text" class="form-control" placeholder="Ex: 18341A1234">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select Branch:</label>
                        <select name='branch' class="form-control" id="sel1">
                            <option value="CSE">CSE</option>
                            <option value="IT">IT</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                            <option value="MECH">MECH</option>
                            <option value="CHEM">CHEM</option>
                            <option value="CIVIL">CIVIL</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-info">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Search Attendance</h3></center>
                    <a href="{% url 'searchattendance' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}