{% extends 'attendance_sys/main.html' %}

{% block content %}
<div class="container">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Take attendance</h3></center>
                    <a href="{% url 'attendance' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Add student</h3></center>
                    <a href="{% url 'addstudent' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Update Student Details</h3></center>
                    <a href="{% url 'studentUpdate' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
        
        <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Search Attendance</h3></center>
                    <a href="{% url 'searchattendance' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}